* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1024px) {
    /* bagian CS-Wa */
    .cs-wa {
        position: fixed;
        border: 3px solid rgb(8, 144, 8);
        background-color: rgb(20, 213, 20);
        box-sizing: border-box;
        border-radius: 30px;
        width: 165px;
        height: 45px;
        z-index: 999;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .cs-wa:hover {
        cursor: pointer;
    }

    .cs-wa img {
        width: 35px;
    }

    .cs-wa p {
        font-size: 19px;
        color: black;
    }



    /* bagian header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #121f2f; 
        z-index: 1000;
    }

    .container-nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 64%;
    }

    .container-nav img {
        width: 70px;
        margin: 15px 10px;
    }

    .container-nav ul {
        display: flex;
        text-decoration: none;
        font-size: 19px;
        list-style: none;
        gap: 60px;
        margin: auto;
    }

    .container-nav ul a:hover {
        color: rgb(255, 0, 0);
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
}

    .langdiv {
        display: flex;
        margin: auto;
        gap: 5px;
    }






    /* bagian main */
    
    main {
        overflow: hidden;
        /* background-color: #080d14; */
        color: black;
        padding: 0;
        margin: 0;
    }

    main section {
        height: auto;
        padding-top: 78px;
        border: 2px solid black;
        box-sizing: border-box;
        overflow: hidden;
    }

    main section * {
        padding: 20px;
    }



    /* bagian home */
    main section.home {
        width: 100%;
        padding: 0;
        height: 634px;
        margin-top: 83px;
        box-sizing: border-box;
        position: relative;
        border: 0px;
    }

    .home img {
        position: absolute;
        top: -20px;
        left: -30px;
        width: 1571px;
        height: 810px;
        object-fit: fill;
        animation: fade-home 2s;
        -webkit-animation: fade-home 2s;
    }

    @keyframes fade-home {
        0% {
            opacity: 0.5;
            transition: 2s ease;
            -webkit-transition: 2s ease;
            -moz-transition: 2s ease;
            -ms-transition: 2s ease;
            -o-transition: 2s ease;
            }
        100% {
            opacity: 1;
            transition: 2s ease;
        }
    }

    ul.array-gambar-promotion {
        list-style: none;
        margin: auto;
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}

    ul.array-gambar-promotion li {
        width: 10px;
        height: 10px;
        background-color: black;
        opacity: 0.7;
        border: 3px solid white;
        border-radius: 50%;
        box-sizing: border-box;
    }

    ul.array-gambar-promotion li.warnaHitam-pPictures {
        background-color: white;
        border: 3px solid rgba(168, 9, 9, 0.838);
        opacity: 1;
    }

    ul.array-gambar-promotion li:hover {
        background-color: white;
        /* border: 3px solid #16519a; */
        border: 3px solid rgb(213, 149, 29);
        opacity: 1;
        cursor: pointer;
    }

    ul.array-gambar-promotion li.warnaHitam-pPictures:hover {
        background-color: white;
        /* border: 3px solid #16519a; */
        border: 3px solid rgb(213, 149, 29);
        opacity: 1;
        cursor: pointer;
    }

    
    
    /* bagian about */
    .slideshow1-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    }

    .mySlides {
    display: none;
    }

    .mySlides img {
        border-radius: 50px;
    }

    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.4s ease;
    user-select: none;
    }
    
    .prev {
    left: 0;
    }
    .next {
    right: 0;
    }

    .prev:hover, .next:hover {
    color: #aaaaaa;
    }

    .text {
    color: #000000;
    background-color: #ffffff78;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    width: max-content;
    z-index: 5;
    text-align: center;
    }

    .dotcr {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 150px;
    left: 70%;
    transform: translateX(-30%);
    }

    .dot {
    cursor: pointer;
    margin: 10px 5px;
    width: 1px;
    height: 1px;
    transform: scale(.5);
    background-color: #bbbbbba5;
    border-radius: 50%;
    z-index: 5;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #424242;
    }

    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {
        opacity: .8;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }


}