* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1024px) {

    /* bagian header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #121f2f; 
    }

    .container-nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .container-nav img {
        width: 130px;
        margin: 19px;
    }

    .container-nav ul {
        display: flex;
        text-decoration: none;
        font-size: 22px;
        list-style: none;
        gap: 50px;
        margin: auto;
    }

    .langdiv {
        display: flex;
        margin: auto;
        gap: 5px;
    }






    /* bagian main */
    
    main {
        overflow: hidden;
        /* background-color: #080d14; */
        color: black;
    }

    main section {
        height: 730px;
        padding-top: 78px;
        border: 2px solid black;
        box-sizing: border-box;
        overflow: hidden;
    }

    main section * {
        padding: 20px;
    }

    /* bagian home */
    
}